@import "./_Variables.scss";

/* normalize.css */
@import url(https://necolas.github.io/normalize.css/latest/normalize.css);

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 5px;

  body {
    font-family: "Roboto", sans-serif;
    background-color: $page-general-background;
  }
}
